@page
@model final2.Pages.Account.RegisterModel
@{
}

<div class="container mx-auto">
    @if (Model.message.Length > 0)
    {
        <div class="bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded relative" role="alert">
            @Model.message
        </div>
    }

    @*<form id="refisternform" method="post">
        <button type="submit" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
            Switch to Login
        </button>
    </form>*@
    <form method="POST" class="mt-4 mx-4">
        <div class="mb-4">
            <label for="email" class="block text-gray-700">Email</label>
            <input type="text" class="form-input mt-1 block w-full border-gray-300 rounded-md p-2" id="email" name="email" placeholder="Enter Email">
        </div>
        <div class="mb-4">
            <label for="userName" class="block text-gray-700">Username:</label>
            <input type="text" class="form-input mt-1 block w-full border-gray-300 rounded-md p-2" id="userName" name="userName" placeholder="Enter user name">
        </div>
        <div class="mb-4">
            <label for="phoneNumber" class="block text-gray-700">Phone Number:</label>
            <input type="text" class="form-input mt-1 block w-full border-gray-300 rounded-md p-2" id="phoneNumber" name="phoneNumber" placeholder="Enter phone number">
        </div>
        <div class="mb-4">
            <label for="password" class="block text-gray-700">Password:</label>
            <input type="password" class="form-input mt-1 block w-full border-gray-300 rounded-md p-2" id="password" name="password" placeholder="Enter password">
        </div>
        <p>Already have an account? <a asp-page-handler="SwitchToLogin" class="text-blue-500">Login</a></p>

        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Register
        </button>
    </form>
</div>
