@page
@model final2.Pages.article.createModel
@{
}

<div class="container">
    @if (Model.message.Length > 0)
    {
        <div class="alert alert-info">
            @Model.message
        </div>
    }
<form method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="faculty">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Enter Email">
    </div>
    <div class="mb-4">
        <label for="coverPhoto" class="block text-gray-700">Article Cover Photo:</label>
        <input type="file" class="block w-full py-3 text-base text-neutral-600 placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300" id="coverPhoto" name="coverPhoto" placeholder="Choose Cover Photo">
    </div>
    <div class="form-group">
        <label for="faculty">Article:</label>
        <textarea type="text" class="form-control" id="tiny" name="article" placeholder="Enter article"></textarea>
    </div>

    <button type="submit" class="flex items-center justify-center w-full px-10 py-4 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-blue-600 rounded-xl hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Post</button>
</form>
</div>